<ion-content [fullscreen]="true">
  <div class="container">

    <!-- IZQUIERDA: Imagen -->
    <div class="left"></div>

    <!-- DERECHA: Formulario -->
    <div class="right">
      <form class="login-form" (ngSubmit)="login()" #loginForm="ngForm">
        <h1>Iniciar sesión</h1>
        <p>Accede a tu cuenta, para continuar</p>

        <!-- Usuario -->
        <ion-item>
          <!-- <ion-label position="floating">Usuario</ion-label> -->
          <ion-input type="text" name="username" [(ngModel)]="username" placeholder="Usuario" required></ion-input>
          <ion-icon slot="start" name="person-outline"></ion-icon>
        </ion-item>

        <!-- Contraseña -->
        <ion-item>
          <!-- Ícono candado -->
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>

          <!-- Input de contraseña -->
          <ion-input [type]="showPassword ? 'text' : 'password'" name="password" [(ngModel)]="password"
            placeholder="Contraseña" required>
          </ion-input>

          <!-- Ícono ojo  -->
          <ion-icon slot="end" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
            (click)="togglePassword()"></ion-icon>
        </ion-item>

        <!-- Botón -->
        <ion-button expand="block" type="submit" [disabled]="!loginForm.form.valid" class="ion-margin-top login-btn">
          Acceder
        </ion-button>

        <!-- Registro -->
        <div class="ion-text-center ion-margin-top signup">
          <p>¿No tienes cuenta?</p>
          <a href="/register" class="register">Regístrate</a>
        </div>
      </form>
    </div>

  </div>
</ion-content>