<ion-content [fullscreen]="true">
  <div class="container">

    <!-- Imagen -->
    <div class="cont-img"></div>

    <!-- Formulario -->
    <div class="cont-form">
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <h1 class="title">Iniciar sesión</h1>
        <p class="text">Accede a tu cuenta, para continuar</p>

        <!-- Usuario -->
        <ion-item>
          <ion-input type="text" name="username" [(ngModel)]="username" placeholder="Usuario" required></ion-input>
          <ion-icon class="icon-input" slot="start" name="person-outline"></ion-icon>
        </ion-item>

        <!-- Contraseña -->
        <ion-item>
          <!-- Ícono candado -->
          <ion-icon class="icon-input" slot="start" name="lock-closed-outline"></ion-icon>

          <!-- Input de contraseña -->
          <ion-input [type]="showPassword ? 'text' : 'password'" name="password" [(ngModel)]="password"
            placeholder="Contraseña" required>
          </ion-input>

          <!-- Ícono ojo  -->
          <ion-icon slot="end" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
            (click)="togglePassword()"></ion-icon>
        </ion-item>

        <!-- Botón -->
        <ion-button expand="block" type="submit" [disabled]="!loginForm.form.valid" class="btn-main">
          Acceder
        </ion-button>

        <!-- Registro -->
        <div class="cont-link">
          <p class="text">¿No tienes cuenta?</p>
          <a href="/register" class="link">Regístrate</a>
        </div>
      </form>
    </div>

  </div>
</ion-content>