<ion-content [fullscreen]="true" class="ion-padding">

  <div class="container">


    <div class="left"></div>

    <div class="right">

      <form (ngSubmit)="register()" #registerForm="ngForm" class="login-form">

        <h1 class="page-title">Crea tu cuenta</h1>
        <p class="page-subtitle">Ingresa tus datos para registrarte</p>

        <!-- Nombre completo -->
        <ion-item>
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-input type="text" placeholder="Nombre completo" required [(ngModel)]="fullName"
            name="fullName"></ion-input>
        </ion-item>

        <!-- Correo electrónico -->
        <ion-item>
          <ion-icon slot="start" name="mail-outline"></ion-icon>
          <ion-input type="email" placeholder="Correo electrónico" required [(ngModel)]="email"
            name="email"></ion-input>
        </ion-item>

        <!-- Usuario -->
        <ion-item>
          <ion-icon slot="start" name="person-circle-outline"></ion-icon>
          <ion-input type="text" placeholder="Usuario" required [(ngModel)]="username" name="username"></ion-input>
        </ion-item>

        <!-- Contraseña -->
        <ion-item>
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña" required
            [(ngModel)]="password" name="password"></ion-input>
          <ion-icon slot="end" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
            (click)="togglePassword()"></ion-icon>
        </ion-item>

        <!-- Confirmar Contraseña -->
        <ion-item>
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirmar Contraseña" required
            [(ngModel)]="confirmPassword" name="confirmPassword"></ion-input>
          <ion-icon slot="end" [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'"
            (click)="toggleConfirmPassword()"></ion-icon>
        </ion-item>

        <!-- Botón de registro -->
        <ion-button expand="block" type="submit" class="login-btn" [disabled]="!registerForm.form.valid">
          Registrarse
        </ion-button>

        <!-- Ir al login -->
        <div class="ion-text-center ion-margin-top signup">
          <p>¿Ya tienes cuenta?</p>
          <a href="/login" class="register">Inicia sesión</a>
        </div>
      </form>

    </div>

  </div>


</ion-content>