* {
    // margin: 0;
    font-family: 'Open Sans', sans-serif;
}


.container {
    display: flex;
    height: 100%;
    background-color: #f0f2f5;
}

/* Izquierda: imagen */
.left {
    flex: 1;
    background: url('/assets/images/login-bg.jpg') no-repeat center center;
    background-size: cover;
}

/* Derecha: formulario */
.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #ffffff;
}

/* Formulario */
.login-form {
    width: 70%;
    // max-width: 400px;
}

/* Título */
.login-form h1,
.page-title {
    font-size: 2rem;
    margin-bottom: 0.8rem;
    font-weight: bold;
    color: var(--primary);
    margin-top: 0;
}

/* Subtítulo */
.login-form p,
.page-subtitle {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #555;
}

/* Inputs */
ion-item {
    margin-bottom: 1.5rem;
}

/* Botón principal */
ion-button.login-btn {
    --background: var(--primary);
    --color: white;
    text-transform: none;
}

/* Botón secundario */
.register {
    font-weight: bold;
    color: var(--primary);
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup p {
    margin: 0;
    margin-right: 0.5rem;
}

/* Responsive: Celulares */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left {
        height: 100px;
        flex: none;
    }

    .right {
        align-items: flex-start;
    }

    .login-form {
        width: 100%;
    }
}