<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="addProduct()" #productForm="ngForm">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="description" name="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number" [(ngModel)]="price" name="price" required min="1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Imagen (URL)</ion-label>
      <ion-input type="url" [(ngModel)]="image" name="image"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Marca</ion-label>
      <ion-input type="text" [(ngModel)]="brand" name="brand"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Modelo</ion-label>
      <ion-input type="text" [(ngModel)]="model" name="model"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Año</ion-label>
      <ion-input type="number" [(ngModel)]="year" name="year"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Color</ion-label>
      <ion-input type="text" [(ngModel)]="color" name="color"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Kilometraje</ion-label>
      <ion-input type="number" [(ngModel)]="mileage" name="mileage"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Combustible</ion-label>
      <ion-input type="text" [(ngModel)]="fuelType" name="fuelType"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!productForm.valid">
      Agregar
    </ion-button>

    <ion-button expand="full" type="button" color="medium" (click)="goBack()">
      Volver
    </ion-button>

  </form>
</ion-content>