<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="addProduct()">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="description" name="description" required></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number" [(ngModel)]="price" name="price" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Imagen (URL)</ion-label>
      <ion-input type="text" [(ngModel)]="image" name="image"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tiempo de entrega</ion-label>
      <ion-input type="text" [(ngModel)]="deliveryTime" name="deliveryTime"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Modalidad de pago</ion-label>
      <ion-input type="text" [(ngModel)]="paymentMethod" name="paymentMethod"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descuento (%)</ion-label>
      <ion-input type="number" [(ngModel)]="discount" name="discount"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Otra información</ion-label>
      <ion-textarea [(ngModel)]="additionalInfo" name="additionalInfo"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input type="number" [(ngModel)]="quantity" name="quantity" min="1"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!name || !description || !price">
      Agregar 
    </ion-button>

  </form>
</ion-content>
