<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-title>Bienvenido{{ loggedUser?.fullName ? ', ' + loggedUser.fullName : '' }}</ion-title>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="showCart()">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Buscador -->
  <ion-searchbar placeholder="Buscar producto" show-clear-button="always" [(ngModel)]="searchTerm"
    (ionInput)="filterProducts()">
  </ion-searchbar>

  <!-- Lista de productos -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let item of filteredlistProducts">
        <ion-card>
          <img [src]="item.image" alt="{{item.name}}">
          <ion-card-header>
            <ion-card-title>{{ item.name }}</ion-card-title>
            <ion-card-subtitle>{{ item.price }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <span>{{ item.description }}</span>
            <ion-button expand="full" color="primary" (click)="addToCart(item)">
              Añadir al carrito
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>